---
import "../styles/colors.css";
import NotHomePageLayout from "../layouts/NotHomePage.astro";
import Skillset from "../components/Skillset.astro";
import Socials from "../components/Socials.astro";
import Experience from "../components/Experience.astro";
import Separator from "../components/Separator.astro";
---

<NotHomePageLayout>
  <h1>About Page</h1>
  <p>This is the about page of the website.</p>
  <div class="container">
    <Skillset />
    <Separator thickness={2} length="95%" />
    <Experience />
  </div>
</NotHomePageLayout>

<style>
  .container {
    padding: 1rem;
    display: flex;
    width: 50%;
    margin-inline: auto;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary);
  }
</style>
