---
import HomePageLayout from "../layouts/HomePageLayout.astro";
import Skillset from "../components/Skillset.astro";
---

<HomePageLayout>
	<h1>Home Page</h1>
	<p>Welcome to the home page of the website.</p>
</HomePageLayout>
