---
import NotHomePageLayout from "../layouts/NotHomePage.astro";
---

<NotHomePageLayout
  backgroundUrl="/landscape_ai_image.webp"
  maxWidth="40%"
  blur={5}
>
  <h1>Projects Page</h1>
  <p>This is the projects page of the website.</p>
</NotHomePageLayout>
