---
const { link } = Astro.props;
---

<a class="button-shell" href={link}>
  <slot />
</a>

<style is:global>
  .button-shell {
    height: 70%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.6em;
    margin: 0 0.1em;
    background-color: var(--secondary);
    color: var(--text);
    text-decoration: none;
    border-style: solid;
    border-width: 1%;
    border-color: transparent;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    font-size: 140%;
    font-weight: 600;
    transition:
      background-color 0.2s ease,
      border-color 0.2 ease,
      transform 0.15s ease;
  }

  .button-shell:hover {
    background-color: var(--secondary-hover);
    border-color: var(--accent);
    transform: scale(1.05);
  }

  .button-shell > * {
    display: flex;
    fill: var(--text);
    text-align: center;
  }
</style>
