---
import Block from "./DateContentBlock.astro";
---

<h1>Experience</h1>
<Block date=" 2023-10-01">
  I have worked on various projects, including web development, data analysis,
  and machine learning. My experience spans multiple programming languages and
  frameworks.
</Block>
<Block date=" 2023-10-01">
  I have worked on various projects, including web development, data analysis,
  and machine learning. My experience spans multiple programming languages and
  frameworks.
</Block>
<Block date=" 2023-10-01">
  I have worked on various projects, including web development, data analysis,
  and machine learning. My experience spans multiple programming languages and
  frameworks.
</Block>
