---
import Navigation from "../components/Navigation.astro";
import Social from "../components/Socials.astro";
---

<header>
  <div class="left">
    <Navigation />
  </div>
  <div class="right">
    <Social />
  </div>
</header>

<style>
  header {
    height: var(--header-height);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-transparent);
    padding: 0 1rem;
    position: fixed;
    z-index: 10;
    box-sizing: border-box;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  .left,
  .right {
    display: flex;
    height: 100%;
    align-items: center;
  }
</style>
