---
import ButtonShell from "./ButtonShell.astro";
---

<div class="navigation-root">
    <ButtonShell link="/">
        <span class="button-content">Home</span>
    </ButtonShell>
    <ButtonShell link="/projects">
        <span class="button-content">Projects</span>
    </ButtonShell>
    <ButtonShell link="/about">
        <span class="button-content">About</span>
    </ButtonShell>
</div>

<style>
    .navigation-root {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
</style>
