---
import ButtonShell from "./ButtonShell.astro";
---

<div class="navigation-root">
    <ButtonShell link="/">
        <span>Home</span>
    </ButtonShell>
    <ButtonShell link="/projects">
        <span>Projects</span>
    </ButtonShell>
    <ButtonShell link="/about">
        <span>About</span>
    </ButtonShell>
</div>

<style>
    .navigation-root {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        gap: 0.5rem;
    }

    .navigation-root span {
        padding: 0 1.3em;
    }
</style>
