---

---

<div class="item-root">
  <h1>Title</h1>
  <h2>Tagline</h2>
  <div class="text-container">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis tempus
      erat. Sed vehicula, tellus eget varius lobortis, nibh metus eleifend
      dolor, ac tempus felis elit a diam. Vestibulum mollis dolor vitae mi
      pulvinar, eget consequat ligula scelerisque. Donec quis elementum eros, in
      venenatis elit. Cras semper, risus maximus molestie efficitur, sem diam
      volutpat ex, sit amet tempor odio dolor quis ex. Fusce rutrum sollicitudin
      fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
      quis tempus erat. Sed vehicula, tellus eget varius lobortis, nibh metus
      eleifend dolor, ac tempus felis elit a diam. Vestibulum mollis dolor vitae
      mi pulvinar, eget consequat ligula scelerisque. Donec quis elementum eros,
      in venenatis elit. Cras semper, risus maximus molestie efficitur, sem diam
      volutpat ex, sit amet tempor odio dolor quis ex. Fusce rutrum sollicitudin
      fermentum.
    </p>
    <p class="read-more">
      <a href="/projects/testprojectpage" class="button">Read More</a>
    </p>
  </div>
</div>

<style>
  .item-root {
    width: 90%;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 2px;
    border-color: var(--accent);
    border-radius: 5px;
    margin-top: 20px;
    padding: 1.6em 3em;
    padding-bottom: 0%;
    margin-inline: auto;
  }

  .text-container {
    position: relative;
    max-height: 5em;
    overflow: hidden;
  }

  .text-container .read-more {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    align-items: end;
    justify-content: end;
    margin: 0;
    padding: 0 0;
    background: linear-gradient(to bottom, transparent, white);
  }

  .read-more:hover {
    color: var(--accent);
  }
</style>
