---

---

<div class="item-root">
  <h1>Title</h1>
  <h2>Tagline</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis tempus
    erat. Sed vehicula, tellus eget varius lobortis, nibh metus eleifend dolor,
    ac tempus felis elit a diam. Vestibulum mollis dolor vitae mi pulvinar, eget
    consequat ligula scelerisque. Donec quis elementum eros, in venenatis elit.
    Cras semper, risus maximus molestie efficitur, sem diam volutpat ex, sit
    amet tempor odio dolor quis ex. Fusce rutrum sollicitudin fermentum.
  </p>
</div>

<style>
  .item-root {
    width: 90%;
    border-style: solid;
    border-width: 2px;
    border-color: var(--accent);
    border-radius: 5px;
    margin-top: 20px;
    padding: 2em 3em;
  }
</style>
