---
import Skill from "../components/Skill.astro";
---

<div class="skillset-container">
    <Skill name="C#" icon="/social_icons/icon_mail.svg" />
    <Skill name="C#" icon="/social_icons/icon_mail.svg" />
    <Skill name="C#" icon="/social_icons/icon_mail.svg" />
    <Skill name="C#" icon="/social_icons/icon_mail.svg" />
    <Skill name="C#" icon="/social_icons/icon_mail.svg" />
    <Skill name="C#" icon="/social_icons/icon_mail.svg" />
    <Skill name="C#" icon="/social_icons/icon_mail.svg" />
</div>

<style>
    .skillset-container {
        margin-inline: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
</style>