---
import Icon from "../components/TooltipIcon.astro";
---

<div class="component-container">
    <h1>Skillset</h1>
    <p style="text-align: center; margin-inline: auto; font-size: 1.3rem;">
        Here are some of the technologies and tools I have at least completed a
        small project in.<br /> They are roughly sorted by proficiency.
    </p>
    <div class="skillset-container">
        <Icon name="Unity" icon="/skill_icons/unity-icon.svg" />
        <Icon name="C#" icon="/skill_icons/csharp-icon.svg" />
        <Icon name=".Net Core" icon="/skill_icons/dotnetcore-icon.svg" />
        <Icon name="Visual Studio" icon="/skill_icons/visualstudio-icon.svg" />
        <Icon name="Git" icon="/skill_icons/git-icon.svg" />
        <Icon name="Blender" icon="/skill_icons/blender-icon.svg" />
        <Icon name="Unreal Engine" icon="/skill_icons/unrealengine-icon.svg" />
        <Icon name="Astro" icon="/skill_icons/astro-icon.svg" />
        <Icon name="Javascript" icon="/skill_icons/javascript-icon.svg" />
        <Icon name="C++" icon="/skill_icons/cplusplus-icon.svg" />
        <Icon name="Lua" icon="/skill_icons/lua-icon.svg" />
        <Icon name="Latex" icon="/skill_icons/latex-icon.svg" />
        <Icon name="Node.js" icon="/skill_icons/nodejs-icon.svg" />
        <Icon name="Vulkan" icon="/skill_icons/vulkan-icon.svg" />
        <Icon name="MySQL" icon="/skill_icons/mysql-icon.svg" />
        <Icon name="Wwise" icon="/skill_icons/wwise-icon.svg" />
        <Icon name="Arch Linux" icon="/skill_icons/archlinux-icon.svg" />
    </div>
</div>

<style>
    .component-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 20px;
    }
    .skillset-container {
        width: 100%;
        margin: 30px 0;
        margin-inline: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
</style>
