---
import "../styles/colors.css";

const { name, icon } = Astro.props;
---

<div class="skill-container">
    <img src={icon} alt={name} loading="lazy" decoding="async" />
    <h3>{name}</h3>
</div>

<style>
    .skill-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem;
        padding: 1rem;
        border-width: 1em;
        border-radius: 8px;
        border-color: var(--accent);
        background-color: var(--primary);
        box-shadow: var(--secondary);
    }
    img {
        width: 50px;
        height: 50px;
        margin-bottom: 0.5rem;
    }
    h3 {
        text-align: center;
        color: var(--text-color);
        font-size: 1.2rem;
        margin-top: 0.5rem;
    }
</style>