---
import ButtonShell from "./ButtonShell.astro";
---

<div class="socials-root">
  <ButtonShell link="https://github.com/NicolasBrueckner">
    <img
      class="button-content"
      src="/social_icons/github-icon.svg"
      alt="GitHub"
    />
  </ButtonShell>
  <ButtonShell link="https://nicolasbrueckner.itch.io/">
    <img
      class="button-content"
      src="/social_icons/itchio-icon.svg"
      alt="ItchIo"
    />
  </ButtonShell>
  <ButtonShell link="https://linkedin.com/in/nicolas-brückner-1466802b5">
    <img
      class="button-content"
      src="/social_icons/linkedin-icon.svg"
      alt="LinkedIn"
    />
  </ButtonShell>
  <ButtonShell link="mailto:nicolas.brueckner.work@gmail.com">
    <img class="button-content" src="/social_icons/mail-icon.svg" alt="Email" />
  </ButtonShell>
</div>

<style>
  .socials-root {
    display: flex;
    height: 100%;
  }
</style>
