---
import ButtonShell from "./ButtonShell.astro";
import GitHubIcon from "../assets/social_icons/github-icon.svg";
import ItchIoIcon from "../assets/social_icons/itchio-icon.svg";
import LinkedInIcon from "../assets/social_icons/linkedin-icon.svg";
import MailIcon from "../assets/social_icons/mail-icon.svg";
---

<div class="socials-root">
  <ButtonShell link="https://github.com/NicolasBrueckner">
    <GitHubIcon class="social-icon" />
  </ButtonShell>
  <ButtonShell link="https://nicolasbrueckner.itch.io/">
    <ItchIoIcon class="social-icon" />
  </ButtonShell>
  <ButtonShell link="https://linkedin.com/in/nicolas-brückner-1466802b5">
    <LinkedInIcon class="social-icon" />
  </ButtonShell>
  <ButtonShell link="mailto:nicolas.brueckner.work@gmail.com">
    <MailIcon />
  </ButtonShell>
</div>

<style>
  .socials-root {
    display: flex;
    height: 100%;
    align-items: center;
    gap: 0.4rem;
  }

  .socials-root svg {
    height: 50%;
    fill: var(--text);
  }
</style>
