---

---

<div class="app">
  <div class="background-container"></div>
  <main id="main" class="shell" role="main">
    <slot />
  </main>
</div>

<style>
  .app {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .background-container {
    position: fixed;
    inset: 0;
    background-image: url("/landscape_ai_image.webp");
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px);
  }

  .shell {
    margin-top: calc(var(--header-height) + 10px);
    margin-inline: auto;
    padding: 0 3%;
    width: 100%;
    max-width: 1700px;
    max-height: calc(100vh - var(--header-height) - 20px);
    min-inline-size: 72ch;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    box-sizing: border-box;
    background-color: var(--primary);
    border-style: solid;
    border-width: 1%;
    border-color: var(--accent);
    border-radius: 10px;
    line-height: 1.6;
  }
</style>
